* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {

    font-size: 10px;

}

header {

    height: 100vh;
    width: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    color: white;
    font-family: 'Oswald', sans-serif;
    z-index: 1;
}

main {

    height: 100vh;
    background-color: skyblue;
    margin-top: 100vh;
    position: relative;
    z-index: 2;
}

header img {

    position: absolute;
    bottom: 0px;
    height: 70%;
    right: -45%;
}

header nav {

    position: absolute;
    right: 7%;
    top: 4%;
    font-size: 3rem;
}

header hgroup {

    position: absolute;
    top: 15%;
    left: 10%;
    text-transform: uppercase;
    z-index: 1;
}

header h1 {
    font-size: 3.1rem;
}

header h3 {
    font-size: 2rem;
    font-weight: normal;
    color: #68b9ff;

}

#arrow {
    width: 48px;
    height: 48px;
    border: 3.5px solid white;
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0px -10px 0 white;
    overflow: hidden;
    transition: 1s;
}

#arrow:hover {
    text-shadow: 0px -10px 0 black;
    color: black;
    background-color: white;
    cursor: pointer;
}

.fa-angle-down {
    animation: arrow 2.2s infinite linear;
}

@media (orientation: portrait) {

    h3 span::after {
        content: '\A';
        white-space: pre;
    }
}

@media (orientation: landscape) {

    header img {
        height: 80%;
        right: 0;
    }
}

@media (max-width: 320px) {

    header h1 {
        font-size: 2.8rem;
    }

    header h3 {
        font-size: 1.6rem;
    }

    header hgroup {

        transform: rotate(-15deg);
    }
}


@keyframes arrow {

    0% {
        transform: translateY(-80px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(80px)
    }
}
